<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{CSS_PATH}/bootstrap.min.css">
</head>
<body>
<form action="index.php?m=admin&f=user&a=add" method="post">
    <div class="form-group">
        用户名:
        <input type="text" class="form-control" name="uname" value="{$result[0]['uname']}">
    </div>
    <div class="form-group">
        密码:
        <input type="text" class="form-control" name="upass" value="{$result[0]['upass']}">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
</body>
</html>